//colors
$color-primary: #2b2b2b;
$color-secondary: #dfdfdf;

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $color-secondary;
}

.header {
  height: 100vh;
  background-image: url(../img/fog.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  &__top {
    position: fixed;
    width: 100%;
    background-color: $color-primary;
    display: grid;
    grid-template-columns: max-content minmax(300px, 1fr);
    grid-template-rows: max-content;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.1rem 0.2rem $color-primary;
  }

  &__logo-box {
    grid-column: 1 /2;

    & a {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-secondary;
      position: relative;
      font-size: 2rem;
      padding-left: 5rem;

      &::before {
        content: "";
        height: 1.5rem;
        width: 0.1rem;
        background-color: $color-secondary;
        display: inline-block;
        transform: scale(1, 0);
        margin-right: 1rem;
        transition: all 0.2s;
      }

      &:hover::before {
        transform: scale(1, 1);
        transition: all 0.2s;
      }
    }
  }

  &__nav ul {
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;

    & a {
      text-decoration: none;
      color: $color-secondary;
      margin: 0 20px;
      text-transform: uppercase;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: -3px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $color-secondary;
        transition: all 0.2s;
        transform: scale(0, 1);
      }
      &:hover::before {
        transform: scale(1, 1);
        height: 0.1rem;
        top: -0.4rem;
      }
    }
  }
}

.content-header {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: $color-primary;
  z-index: -1;
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary-1 {
  display: block;
  font-size: 4rem;
  line-height: 3.5rem;
  font-weight: 800;
  animation: moveInRight 1s ease-out;
}

.heading-primary-2 {
  font-size: 1rem;
  display: block;
  letter-spacing: 0.2rem;
  margin-left: 0.2rem;
  animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: $color-secondary;
  background-color: rgba($color-primary, 0.4);
  padding: 0.5rem 1rem;
  margin-top: 0.2rem;
  text-transform: uppercase;
  transition: all 0.2s;
  animation: moveInBottom 5s ease;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  box-shadow: 0 0.3rem 1rem $color-primary;

  &:hover {
    background-color: rgba($color-primary, 1);
    transform: scale(1.2);
  }
}

/* ABOUT US */

.about {
  display: grid;
  grid-template-columns: 500px 400px;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 20px;
  height: 100vh;
  color: $color-primary;
  background: $color-secondary;
  grid-gap: 20px;
}

.about-content {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
}

.about-content h3 {
  font-size: 10px;
  text-transform: uppercase;
  grid-column: 1 /-1;
  letter-spacing: 3px;
}

.about-content h2 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  grid-column: 1 / -1;
}

.about-content p {
  font-size: 10px;
  text-align: left;
  grid-column: 2 / -1;
}

.about-content span {
  grid-column: 1 / 2;
  position: relative;
}

.about-content span::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 100%;
  display: block;
  height: 3px;
  background-color: $color-secondary;
}
.about-img > * {
  width: 400px;
}

/* WHAT WE DO */

.service {
  display: grid;
  grid-template-columns: 500px 400px;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 20px;
  height: 100vh;
  color: $color-secondary;
  grid-gap: 20px;
}

.service-img > * {
  width: 400px;
}

.service-content {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-gap: 10px;
}

.service-content h3 {
  font-size: 10px;
  text-transform: uppercase;
  grid-column: 1 /-1;
  letter-spacing: 3px;
}

.service-content h2 {
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  grid-column: 1 / -1;
}

.service-content p {
  font-size: 10px;
  text-align: left;
  grid-column: 2 / -1;
}

.service-content span {
  grid-column: 1 / 2;
  position: relative;
}

.service-content span::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 100%;
  display: block;
  height: 3px;
  background-color: $color-primary;
}

/* RECENT WORKS */

.recent-works {
  background: $color-secondary;
  padding-bottom: 20px;
}
.recent-header {
  margin: 0 auto;
  width: 900px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-gap: 10px;
}

.recent-header h3 {
  grid-column: 1 / -1;
  font-size: 10px;
  text-transform: uppercase;
  color: $color-primary;
  letter-spacing: 3px;
}

.recent__menu {
  grid-column: 1 / -1;
}
.recent__menu ul {
  list-style-type: none;
  display: flex;
}

.recent__menu a {
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.recent__menu a:hover {
  color: $color-primary;
}

ul .active {
  color: darken($color-primary, 1);
}
.recent-header h2 {
  font-size: 25px;
  text-transform: uppercase;
  color: darken($color-primary, 1);
  letter-spacing: 3px;
  grid-column: 1 / -1;
}

.recent__img {
  width: 900px;
  height: 1000px;
  margin-top: 20px;
  padding-top: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}

.img-box {
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img1 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/1.jpg);
}

.img2 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/2.jpg);
}

.img3 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/3.jpg);
}

.img4 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/4.jpg);
}

.img5 {
  grid-column: span 4;
  grid-row: span 2;
  background-image: url(../img/5.jpg);
}

.img6 {
  grid-column: span 2;
  grid-row: span 4;
  background-image: url(../img/6.jpg);
}

.img7 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/7.jpg);
}

.img8 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/8.jpg);
}

.img9 {
  grid-column: span 2;
  grid-row: span 4;
  background-image: url(../img/9.jpg);
}

.img10 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/10.jpg);
}

.img11 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/11.jpg);
}

.img12 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(../img/12.jpg);
}

.recent__viewall {
  width: 900px;
  display: grid;
  grid-template-columns: 1fr;
  display: block;
  margin: 0 auto;
}
.recent__viewall a {
  color: $color-primary;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.recent__viewall a:hover {
  color: darken($color-primary, 1);
}

/* FOOTER */
footer {
  background-color: darken($color-primary, 1);
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}

/*
  
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2b2b2b;
  z-index: 1;
  transform: scale(1);
  transform-origin: right;
  transition: 0.5s; */

/*
.header-top {
  position: fixed;
  background-color: rgba(30, 30, 30, 0.5);
  display: grid;
  grid-template-columns: 1fr 5fr minmax(600px, 1fr) 1fr;
}

.logo-box {
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
}
.logo a {
  font-size: 20px;
  text-decoration: none;
  color: #dfdfdf;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
}

.logo a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 100%;
  height: 2px;
  background: #2b2b2b;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.logo a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.nav {
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  color: #dfdfdf;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
.nav ul li {
  position: relative;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 2px;
  background: #2b2b2b;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.nav ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2b2b2b;
  z-index: 1;
  transform: scale(0);
  transform-origin: right;
  transition: 0.5s;
}

.nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}

.nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav a:hover {
  background-color: #dfdfdf;
  color: #2b2b2b;
  transition: 0.5s;
}


.nav {
  position: fixed;
  background-color: rgba(30, 30, 30, 0.5);
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.logo-box {
  grid-column: 2 / 3;
}

nav {
  grid-column: 3 / 4;
}

.header {
  height: 100vh;
  background-image: url(../img/fog.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.logo-box {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-30px, -30px);
  margin: 0;
  padding: 0;
}
.logo a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  display: block;
  text-align: center;
  transition: 0.5s;
}

.logo a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #2b2b2b;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}

.logo a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
*/
