@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/cards";
@import "components/composition";

@import "layout/grid";
@import "layout/header";

@import "pages/home";

/*
//FOOTER
footer {
  background-color: darken($color-primary, 1);
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
}

*/
