.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1rem 1rem rgba($color-primary, 0.4);

    &--front {
      background-image: url("https://picsum.photos/g/300/300/?random");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--back {
      background-color: $color-primary;
      transform: rotateY(180deg);
      color: $color-secondary;
    }

    &--box {
      width: 50%;
      height: 50%;
      float: left;
      text-transform: capitalize;
      font-weight: 900;
      position: relative;

      h2 {
        font-size: 2.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &--box:first-child {
      background-color: $color-secondary;
      color: $color-primary;
    }
    &--box:last-child {
      background-color: $color-secondary;
      color: $color-primary;
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
